.color-section {
   width: 100%;
   background: linear-gradient(190deg,  #323264 0%,#323264 50%,#643e72 100%);

}

.color-section_h {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.hiro {
    text-align: center;
    z-index: 1;
}

.hiro-text h1 {
    font-size: 24px; 
}

.c-scroll {
    text-decoration: none;
    color: #ffffff; 
    display: inline-block;
    margin-top: 20px; 
}
