.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
}

.card-sec {
    width: 100%; 
}

a {
    color: #24A3FF;
    text-decoration: none;
}

// p {
//     color: white;
// }
